doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 Companies
        .cards 
            each company in data
                .card 
                    h2.card__name #{company.properties.name}
                    p.card__about #{company.properties.about_us}
                    p.card__revenue #{company.properties.annualrevenue}